/** {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    box-sizing: border-box;*/
/*}*/

body {
    font-family: Arial;
}

header .top p {
    margin: 5px;
    display: inline;
}

.top #top-1 {
    padding: 200px;
}

header {
    background-color: #2d3436;
    color: white;
    padding: 20px;
}

header:hover{
    background-color: #7f8c8d;
}
header:nth-child(even){
    background-color: #7f8c8d;
}

.sidebar-left {
    background-color: #b2bec3;
    height: 400px;
    width: 25%;
    float: left;
    text-align: center;
}


.sidebar-left a {
    padding: 20px 0;
    display: block;
}

section {
    background-color: #dfe6e9;
    color: black;
    width: 50%;
    float: left;
    height: 400px;
}
section h1, p, h3{
    margin-left: 15px;
}

.sidebar-right {
    background-color: #b2bec3;
    height: 400px;
    width: 25%;
    float: left;
    text-align: center;
}

.sidebar-right #A , #B {
    background-color: #dfe6e9;
    width: 70%;
    height: 50px;
    padding: 10px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    background-color: #353b48;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


